<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Planet_Agent::agent"
             title="Agent"
             resource="Magento_Backend::content"
             module="Planet_Agent"
             sortOrder="10"
        />

        <add id="Planet_Agent::sales"
             resource="Magento_Backend::content"
             title="Sales"
             module="Planet_Agent"
             sortOrder="0"

             parent="Planet_Agent::agent"
        />

        <add id="Planet_Agent::sales_import"
             resource="Magento_Backend::content"
             title="Sales Import"
             module="Planet_Agent"
             sortOrder="0"

             parent="Planet_Agent::sales"
             action="agent/sales/import"
        />

        <add id="Planet_Agent::sales_export"
             resource="Magento_Backend::content"
             title="Sales Export"
             module="Planet_Agent"
             sortOrder="1"

             parent="Planet_Agent::sales"
             action="agent/sales/export"
        />
    </menu>
</config>
