.page-header {
  &.type3{
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    left: 0;
    right: 0;
  }
}

.brand-container {
  margin: 45px 0;

  .top-content{
    border-bottom: 2px solid #132e53;
    margin-bottom: 15px;
    padding-bottom: 14px;
  }

  .bottom-content{
    text-align: center;
    p {
      margin: 0;
      font-size: 16px;
      color: #132e53;
    }
  }
}