<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Planet_Fiscal::fiscal"
             resource="Magento_Backend::content"
             title="Fiscal"
             module="Planet_Fiscal"
             sortOrder="10"
             parent="Magento_Sales::sales"
        />

        <add id="Planet_Fiscal::create_nfe"
             resource="Magento_Backend::content"
             title="Create NF-e"
             module="Planet_Fiscal"
             sortOrder="0"

             parent="Planet_Fiscal::fiscal"
             action="fiscal/nfe/index"
        />
    </menu>
</config>
